*.psess
*.vsp
*.log
*.tlog
*.lastbuildstate
*.err
*.wrn
*.suo
*.sdf
*.VC.db
*.user
*.i
*.vspscc
*.opensdf
*.pch
*.ipch
*.cache
*.ilk
*.obj
*.iobj
*.aps
*.zip
/MyMfcSimpleVkTest1/.vs
/MyMfcSimpleVkTest1/ipch
/MyMfcSimpleVkTest1/Win32
/MyMfcSimpleVkTest1/x64
/MyVkComputeTest1/.vs
/MyVkComputeTest1/ipch
/MyVkComputeTest1/Win32
/MyVkComputeTest1/x64
